 <!DOCTYPE html>
 {% load static %}
<html>

<head>


<title>Page Title</title>
<link rel="stylesheet" href="{% static "styles.css" %}" />
</head>
<body>
{% include "header.html" %}
	<h1>This is a Heading</h1>
	<p>This is a paragraph.</p>
	<div class="mainlent">
		{% for art_pos in article_posts %}
			<div>author: {{art_pos.author}} text: {{ art_pos.text }}  images path: {{ art_pos.images }}<</div>
			<img src="/articleAgregator/images/{{art_pos.images}}" width="500" height="600"> 
        	{% endfor %}
	</div>
</body>
</html> 
