* {
	margin: 0;
	padding: 0;
}
header {
	background-color: coral;
}
.auth > div > span {
  color:white;
}
a:link {
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: none;
  color:white;
}

a:active {
  text-decoration: none;
  color:white;
}
.mainlent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.mainlent > img{
  display: block;
  margin: 0 auto; 
}
.register > form{
  text-align: center;
  display: block;
  margin: 0 auto; 
  width:250px; 
}
.helptext {
  display: none;
}
.addarticle {
  text-align: center;
  display: block;
  margin: 0 auto; 
  width:250px; 
}

/* CSS */
.btn {
  appearance: none;
  background-color: #ff7f50;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;


  margin: 20px;

}

.btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn:hover {
  background-color: #ff6450;
}

.btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.auth {
  display: flex;
  justify-content: space-between;
}
.post{
  padding-top: 20px;
  border-bottom-style: solid;
  border-color: coral;
  
}
.mainName {
  text-align: center;
}
